{{ define "main" }}
<main>
    <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <span class="minor_line">Best Practices On </span>
                    <br>
                    <span class="major_line">Data Science &amp; Artificial Intelligence</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 blurb">

                <p>
                This blog contains notes regarding practical ways to use AI techniques in order to build models quickly.

                    <p>
                I see this blog as covering AI best practices as well as providing quick snippets of code that can get practitioners up and running quickly.
                Right now, I am investigating sentiment analysis (and classification of social media comments that “do not contain emotion).
                What other types of topics would you like to see covered on here?

                <p>
                Direct message me at <a href="https://twitter.com/ralphbrooks">@ralphbrooks</a> with any
                comments or suggestions.

            </div>
        </div>


        <div class="row" id="deep_learning">
            <div class="col-sm-12">
                <h3 class="category_header">Deep Learning</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">General</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/deep_learning/general/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Keras</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/deep_learning/keras/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="linux">
            <div class="col-sm-12">
                <h3 class="category_header">Linux Command Line</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Environment</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/linux/environment/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="linux_command_line">
            <div class="col-sm-12">
                <h3 class="category_header">Linux Command Line</h3>
            </div>
        </div>

        <div class="row" id="linux_environment">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Environment</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/linux/environment/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" id="articles">
            <div class="col-sm-12">
                <h3 class="category_header">Articles</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="article_list card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/articles/") }}
                            <li>
                                {{ .PublishDate.Format "Jan 2006" }} -
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>
{{ end }}